@import url('blueprint/screen.css');

body {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/bg.gif) repeat-x ;
}

/* Header
----------------------------------------------- */
.header { padding-top: 5px;}
.header h1 {
    margin: 5px 0px;
}
.report { text-align: right; padding: 3px 0px; }
.report a {
    color: #F00;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.report a:hover { text-decoration: underline; }

/* Nav
------------------------------------ */
#nav {
	margin: 0px;
}

#nav ul {
	text-align: right;
	margin-left: 196px;
	font-size: 15px;
	margin-top: 46px;
}

#nav ul li {
	display: inline;
	list-style-type: none;
}

#nav ul li a {
	color: #F9F9F9;  
	text-decoration: none; 
	height: 40px; 
	line-height: 40px;
	float: left;
	display: block;
	cursor: pointer;
	padding-right: 12px;
	margin-left: 8px;
}

#nav ul li a span {
	height: 40px;
	display: block; 
	padding-left: 14px;
	cursor: pointer;
}

#nav ul li a:hover {
	color: #F9F9F9;  
	text-decoration: none; 
	height: 40px; 
	line-height: 40px;
	display: block;
	background: url(../images/btn-R-hover.gif) right top no-repeat;
	cursor: pointer;
	padding-right: 12px;
	margin-left: 8px;
}

#nav ul li a:hover span {
	background:url(../images/btn-L-hover.gif) left top no-repeat;  
	height: 40px; 
	display: block; 
	padding-left: 14px;
	cursor: pointer;
}

#nav ul li a.active {
	color: #F9F9F9;  
	text-decoration: none; 
	height: 40px; 
	line-height: 40px;
	float: left;
	display: block;
	background: url(../images/btn-R.gif) right top no-repeat;
	cursor: pointer;
	padding-right: 12px;
	margin-left: 8px;
}

#nav ul li a.active span {
	background:url(../images/btn-L.gif) left top no-repeat;  
	height: 40px;
	display: block; 
	padding-left: 14px;
	cursor: pointer;
}

/* Show Crime
----------------------------------------------- */
#map_show { width: 720px; height:350px; margin-bottom: 15px; border: 1px solid #CCC; }
.headline h1 {
    color: #00F;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.subline {
    color: #555;
    font-size: 16px;
    padding: 0px 0px;
}
.subline span { color: #555; font-weight: bold; }
.subline .location { color: #408000; font-weight: bold; }
.details { font-family: georgia; font-size: 16px; padding: 10px 0px; }
.update { padding-bottom: 20px; }
#id_comment { width: 550px; }


/* Create Crime
----------------------------------------------- */
.title h1 { font-size:30px; margin-top:10px; margin-bottom:25px; }
.label { text-align: right; font-weight: bold; color: #00F; }
.field { margin-bottom: 15px; color: #666;}
#map_create { width: 670px; height:350px; margin-bottom: 15px; border: 1px solid #CCC; }

#id_headline { width: 500px; }
#id_location { width: 500px; }
#id_details { width: 670px; }

.errors {
    background-color: #F00;
    color: #FF0;
    font-weight: bold;
    padding: 0px 10px;
}

/* Update Crime
----------------------------------------------- */
#map_update { width: 670px; height:350px; margin-bottom: 15px; border: 1px solid #CCC; }

/* Main Index
----------------------------------------------- */
.stats {
    color: #008080;
    font-size: 14px;
    text-align: right;
    padding-top: 20px;
}
.headlineinfo { color: #00F; font-size: 18px; }
.sublinelinfo { color: #008080; font-size: 8px; }
.headlinelist h2 {
    color: #00F;
    font-size: 20px;
    margin: 0px 0px;
}
.headlinelist a { text-decoration: none; }
.headlinelist a:hover { color: #00F; text-decoration: underline; }
.sublinelist { padding-bottom: 15px; }
.sublinelist { color: #555; }
.sublinelist span { color: #555; font-weight: bold; }
.sublinelist .location { color: #408000; font-weight: bold; }


#map_index { width: 830px; height:500px; margin-top: 10px; margin-bottom: 30px; border: 1px solid #CCC; }

/* Comments
----------------------------------------------- */
.comment {
    font-family: georgia;
    font-size: 16px;
    padding-bottom: 15px;
}
.comment span {
    color: #408000;
    font-size: 12px;
    font-style: italic;
}

/* Footer
----------------------------------------------- */
.footer { background-color: #e5ecf9; border-top: 1px dotted #36c; }
.footer p { margin: 5px 20px; }
.footer a { text-decoration: underline; }
.footer a:hover { color: #ff8000; text-decoration: underline; }
