{% extends "base.html" %}
{% load comments %}

{% block map_script %}
    <script type="text/javascript">
        function initialize() {
            if (GBrowserIsCompatible()) {
                var map = new GMap2(document.getElementById("map_index"));
                map.setCenter(new GLatLng(4.0, 102.2), 7);
                map.setUIToDefault();
                map.disableScrollWheelZoom();

                function createMarker(text, lat, lng) {
                    marker = new GMarker(new GLatLng(lat, lng)),
                    marker.bindInfoWindow(text)
                    return marker
                }

                var crimes = [
                    {% for crime in crimes reversed %}
                        {% get_comment_count for crime as comment_count %}
                        createMarker(
                            "<span class='headlineinfo'>"
                            + "<a href='{% url crime-show crime.id %}'>{{crime.headline}}</a></span><br/>"
                            + "<span class='sublineinfo'>{{ crime.date|timesince:now }} ago at <strong>{{ crime.location }}</strong><br />"
                            {% if comment_count %}
                                + "// {{ comment_count }} comment{{ comment_count|pluralize }}"
                            {% endif %}
                            + "</span>",
                            {{crime.lat}}, {{crime.lng}}),
                    {% endfor %}
                ];
                var mgr = new MarkerManager(map);
                mgr.addMarkers(crimes, 0);
                mgr.refresh();
            }
        }
    </script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="stats span-21 last">
        Showing <strong>{{ crimes.count }}</strong> of <strong>{{ crimes.count }}</strong> Crime Reports
    </div>
    <div id="map_index" class="span-24 last"></div>

    {% for crime in crimes %}
        {% get_comment_count for crime as comment_count %}
        <div class="headlinelist span-24 last"><h2><a href="{% url crime-show crime.id %}">{{ crime.headline }}</a></h2></div>
        <div class="sublinelist span-24 last">
            <span>{{ crime.date|timesince:now }}</span> ago at
            <span class="location">{{ crime.location }}</span>
            reported by <span>{{ crime.author }}</span>
            {% if comment_count %}
                // {{ comment_count }} comment{{ comment_count|pluralize }}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
