{% extends "base.html" %}
{% load comments %}
{% load markup %}

{% block meta %}
    <meta name="description" content="{{ crime.details|truncatewords:"25" }}">
{% endblock %}

{% block map_script %}
    <script src="{% url main-icons-js %}" type="text/javascript"></script>
    <script type="text/javascript">
        var map = null;

        function initialize() {
            if (GBrowserIsCompatible()) {
                point = new GLatLng({{ crime.lat }}, {{ crime.lng}});
                map = new GMap2(document.getElementById("map_show"));
                map.setCenter(point, {{ crime.zoom }});
                map.setUIToDefault();
                map.disableScrollWheelZoom();
                map.addOverlay(new GMarker(point, {{ crime.icon }}))
            }
        }
    </script>
{% endblock %}

{% block title %}{{ crime.headline }} - Malaysia Crime{% endblock %}

{% block content %}
    <div class="headline span-24 last"><h1>{{ crime.headline }}</h1></div>
    <div class="subline span-24 last">
        <span>{{ crime.date|timesince:now }}</span> ago at
        <span class="location">{{ crime.location }}</span> on {{ crime.date|date:"d M Y" }}
        reported by <span>{{ crime.author }}</span>
        {% get_comment_count for crime as comment_count %}
        {% if comment_count %}
            // {{ comment_count }} comment{{ comment_count|pluralize }}
        {% endif %}
    </div>
    <div id="map_show" class="span-24 last"></div>
    <div class="details span-24 last">{{ crime.details|markdown:"safe" }}</div>

    <div class="update span-24 last">
        <a href="{% url crime-update crime.id %}">Update this Crime Report</a>
    </div>

    {% get_comment_list for crime as comments %}
    {% for comment in comments %}
        <hr />
        <div class="comment span-24 last">
            <span>written about <strong>{{ comment.submit_date|timesince:now }}</strong> ago by <strong>{{ comment.name }}</strong>:</span><br />
            {{ comment.comment|markdown:"safe" }}
        </div>
    {% endfor %}

    <hr />
    {% get_comment_form for crime as form %}
    <form action="{% comment_form_target %}" method="post">
        <div class="label span-4">Your Name:</div>
        <div class="field span-20 last">
            {{ form.name }}&nbsp;&nbsp;&nbsp;<em>Required.</em>
        </div>
        <div class="label span-4">Your Email:</div>
        <div class="field span-20 last">
            {{ form.email }}&nbsp;&nbsp;&nbsp;<em>Required. You can put fake email if you want.</em>
        </div>
        <div class="label span-4">Your Website:</div>
        <div class="field span-20 last">
            {{ form.url }}&nbsp;&nbsp;&nbsp;<em>Optional.</em>
        </div>
        <div class="label span-4">Your Comment:</div>
        <div class="field span-20 last">
            {{ form.comment }}<br />
            <em>
                You can use the following to format your post:<br />
                <span style="font-family:courier;">
                &nbsp;&nbsp;_make the text italic_<br />
                &nbsp;&nbsp;__make the text bold__<br />
                &nbsp;&nbsp;![picture name](http://url_address_of_pic/pic.jpg/)<br />
                &nbsp;&nbsp;[link name](http://url_address_of_link/link.html/)
                </span>
            </em>

        </div>

        <div style="display:none;">
            {{ form.honeypot }}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
        </div>

        <div class="label span-4">&nbsp;</div>
        <div class="field span-20 last">
            <input type="submit" name="post" value="Post" />&nbsp;&nbsp;&nbsp;
            <input type="submit" name="preview" value="Preview" />
        </div>
    </form>
{% endblock %}
