<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="verify-v1" content="9tSmkqhEItR2vb4NQ9111/akEBcEgiodn23Zbn8fLI0=" />
	{% block meta %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
	<link href="{{ MEDIA_URL }}stylesheets/base.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    <!--[if IE]><link href="/stylesheets/blueprint/ie.css" rel="stylesheet" type="text/css" media="screen, projection"/><![endif]-->
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAnJLlw5vKfNQWDanaSWeKqRTZlE7kmkEf407ZrC6woqvldhRE3hQPc-s73V-l62omjS2VoIkPROnnog&amp;sensor=false" type="text/javascript"></script>
    {% block map_script %}{% endblock %}
</head>
<body onload="initialize()" onunload="GUnload()">
<div class="container">
{% block header %}
    <div class="header span-4">
        <h1><a href="/"><img src="{{ MEDIA_URL }}images/logo.gif" alt="Malaysia Crime Logo" title="Malaysia Crime"/></a></h1>
    </div>
	<div class="span-20 last" id="nav">
        <ul>
            {% block tab0 %}<li><a href="{% url main-index %}"><span>Home</span></a></li>{% endblock %}
  			{% block tab1 %}<li><a href="{% url main-recent-commented %}"><span>Recent Commented</span></a></li>{% endblock %}
  			{% block tab2 %}<li><a href="{% url main-recent-updated %}"><span>Recent Updated</span></a></li>{% endblock %}
            {# {% block tab3 %}<li><a href="#"><span>Monitor</span></a></li>{% endblock %} #}
			{% block tab4 %}<li><a href="{% url main-search %}"><span>Search</span></a></li>{% endblock %}
			{% block tab5 %}<li><a href="{% url crime-create %}"><span>Report a Crime</span></a></li>{% endblock %}
            {# {% block tab5 %}<li><a href="{% url main-about %}"><span>About</span></a></li>{% endblock %} #}
       	</ul>
    </div>
<div class="clear"></div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <div class="footer span-24">
        <p>Copyright <a href="http://kegan.info">Kegan Gan</a> //
        <a href="http://creativecommons.org/licenses/by/3.0/us/" title="Creative Commons Attribution">Some Rights Reserved</a> //
        <a href="http://www.djangoproject.com/">Django powered</a> //
        Hosted at <a href="http://www.webfaction.com/?affiliate=kegan33">WebFaction</a> //
        Full disclaimer to the authors and contributors if you use this site.</p>
    </div>
{% endblock %}
</div>

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-1450651-8");
    pageTracker._trackPageview();
    } catch(err) {}</script>
</body>
</html>
