<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<body>
    <form action="." method="post" accept-charset="utf-8">
        {{ form.headline }}
        {{ form.date }}
        {{ form.location }}
        {{ form.icon }} <!-- must have id_icon -->
        {{ form.lat }} <!-- must have id_lat -->
        {{ form.lng }} <!-- must have id_lng -->
        {{ form.zoom }} <!-- must have id_zoom -->
        {{ form.details }}
        {{ form.author }}
        {{ form.password }}
        {{ form.password2 }}

        <input type="submit" value="Continue">
    </form>
</body>
</html>
